<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<!--/* layout:decorate="~{layout 파일경로}" => layout 파일에 변경 영역 지정 */-->
<div layout:fragment="content">
    <h1>Ex03 page</h1>

    [[${strList}]]
<div th:each="str:${strList}">
    [[${str}]]
</div>

<hr />
[[${map}]]
    <div th:each="f:${map}">[[${f.key}]] : [[${f.value}]]원</div>
        <div>[[${map.apple}]]</div> <!-- map.key => value를 리턴 -->
<hr />
    <div th:each="testvo:${testList}">[[${testvo.name}]] / [[${testvo.num}]]</div>
<script th:inline="javascript">
    const list = [[${strList}]];
    console.log(list);
</script>
</div>